.center {
    text-align: center;
}
.content {
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 30px;
}
#mapid { height: 550px; }

.map-container {
    margin: .5rem 0 1rem 0;
}

.logo {
    margin-left: 50px;
    padding-left: .75rem;
}

.nav {
    padding-bottom: 15px;
}