<!DOCTYPE html>
<html>
   <head>
      <meta charset="utf-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <title>COVID-19</title>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" type="text/css" media="screen" href="static/css/main.css" />
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
      <script src="static/js/main.js"></script>
      <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
      <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
         integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
         crossorigin=""/>
      <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
         integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
         crossorigin=""></script>
      <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
   </head>

   <body>
       <!-- *********************NAV BAR*****************************************-->
      <nav>
         <div class="nav-wrapper blue-grey darken-1">
            <a href="#" class="brand-logo logo">Covid-19 Tracker</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
            </ul>
         </div>
      </nav>

      <div class="content">
          <section class="section-information">
              <div class="row">
                  <div class="col s3">
                        <div class="card blue-grey darken-1 information-card">
                                <div class="card-content white-text">
                                <span class="card-title flow-text">Total World Cases</span>
                                <div id="world-total-cases"></div>
                                </div>
                        </div>
                        <div class="card blue-grey darken-1 information-card">
                                <div class="card-content white-text">
                                <span class="card-title flow-text">Total World Deaths</span>
                                <div id="world-total-deaths"></div>
                                </div>
                        </div>
                        <div class="card blue-grey darken-1 information-card">
                                <div class="card-content white-text">
                                <span class="card-title flow-text">Total World Recovered(change number)</span>
                                <div id="world-total-deaths"></div>
                                </div>
                        </div>
                  </div>
                  <div class="col s9">
                        <div class="information_landing">
                                <div>The novel coronavirus emergeded in ... Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
                                <div>Information on my site with data source credit... Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
                            
                            </div>
                            <div class="information_features">
                                <div class="col s4">
                                    <h4>USA MAP</h4>
                                    <p>fkaljfglkajenfljkasdflkjasbdfkljbaskldf</p>
                                    <a href="#" class="btn btn-ghost">USA Map</a>
                                </div>
                                <div class="col s4">
                                    <h4>USA comparisons</h4>
                                    <p>fkaljfglkajenfljkasdflkjasbdfkljbaskldf</p>
                                    <a href="#" class="btn btn-ghost">USA Comparisons</a>
                                </div>
                                <div class="col s4">
                                    <h4>COUNTRY DATA</h4>
                                    <p>ghlakwjefhlakjshflkajshdflkj</p>
                                    <a href="#" class="btn btn-ghost">Data by Country</a></div>   
                               </div>
                </div>
              </div>



        </section>
        <!-- USA Map with case/death counts for United States -->
        <section class="section-map-counts">
        <div class="map_and_count_cards" >
        <div class="row">
            <div class="col s9 push-s3 map-container">
                <div id="mapid">
                </div>
            </div>

            <div class="col s3 pull-s9">
                <div class="card blue-grey darken-1">
                        <div class="card-content white-text">
                        <span class="card-title flow-text">Total World Cases</span>
                        <div id="world-total-cases"></div>
                        </div>
                </div>
            </div>

            <div class="col s3 pull-s9">
                <div class="card blue-grey darken-1">
                        <div class="card-content white-text">
                        <span class="card-title flow-text">Total US Cases</span>
                        <div id="usa-total-cases"></div>
                        </div>
                </div>
            </div>
            <div class="col s3 pull-s9">
                <div class="card blue-grey darken-1">
                        <div class="card-content white-text">
                        <span class="card-title flow-text">Total World Deaths</span>
                        <div id="world-total-deaths"></div>
                        </div>
                </div>
            </div>

            <div class="col s3 pull-s9">
                <div class="card blue-grey darken-1">
                        <div class="card-content white-text">
                        <span class="card-title flow-text">Total US Deaths</span>
                        <div id="usa-total-deaths"></div>
                        </div>
                </div>
            </div>
            </div>
        </div>
    </section>

        <!-- USA Comparison Charts with list of countries -->
        <section class="section-comparison">
        <div class="comparison_graph" >
        <div class="row">
            <div class="col s12">
               
            </div>
            <div class="col s6">
                <canvas id="myChart" width="400" height="400"></canvas>
            </div>
            <div class="col s6">
                <h4 class="center">Country Comparison</h4>
                <p>Choose a country to see how its case count compares to the United States. Data displayed are total cases for the 25 days after a country has 50 confirmed cases. </p>
                <div class="collection">
                    <a href="#!" class="collection-item" data-country="Italy" data-active="false" data-graphing-color="#90caf9">Italy</a>
                    <a href="#!" class="collection-item" data-country="South Korea" data-active="false" data-graphing-color="#80cbc4">South Korea</a>
                    <a href="#!" class="collection-item" data-country="Japan" data-active="false" data-graphing-color="">Japan</a>
                    <a href="#!" class="collection-item" data-country="France" data-active="false" data-graphing-color="">France</a>
                    <a href="#!" class="collection-item" data-country="Canada" data-active="false" data-graphing-color="">Canada</a>
                    <a href="#!" class="collection-item" data-country="China" data-active="false" data-graphing-color="">China</a>
                    <a href="#!" class="collection-item" data-country="Germany" data-active="false" data-graphing-color="">Germany</a>
                    <a href="#!" class="collection-item" data-country="United Kingdom" data-active="false" data-graphing-color="">United Kingdom</a>
                    <a href="#!" class="collection-item" data-country="Spain" data-active="false" data-graphing-color="">Spain</a>
                    <a href="#!" class="collection-item" data-country="Iran" data-active="false" data-graphing-color="">Iran</a>
                </div>
                <p>Data Courtesy of: https://www.kaggle.com/gpreda/coronavirus-2019ncov</p>
            </div>
        </div>
    </div>
</section>

        <!-- Country Numbers Table -->
        <section class="section-table">
        <div class="table_to_populate">
        <div>
            <h3>Data by Country: Country Name auto fill by selector</h3>
            <p>Choose a country to populate the table </p>
            <div class="collection">
                <a href="#!" class="collection-item" data-country="Italy" data-active="false" data-graphing-color="#90caf9">Italy</a>
                <a href="#!" class="collection-item" data-country="South Korea" data-active="false" data-graphing-color="#80cbc4">South Korea</a>
                <a href="#!" class="collection-item" data-country="Japan" data-active="false" data-graphing-color="">Japan</a>
                <a href="#!" class="collection-item" data-country="France" data-active="false" data-graphing-color="">France</a>
                <a href="#!" class="collection-item" data-country="Canada" data-active="false" data-graphing-color="">Canada</a>
                <a href="#!" class="collection-item" data-country="China" data-active="false" data-graphing-color="">China</a>
                <a href="#!" class="collection-item" data-country="Germany" data-active="false" data-graphing-color="">Germany</a>
                <a href="#!" class="collection-item" data-country="United Kingdom" data-active="false" data-graphing-color="">United Kingdom</a>
                <a href="#!" class="collection-item" data-country="Spain" data-active="false" data-graphing-color="">Spain</a>
                <a href="#!" class="collection-item" data-country="Iran" data-active="false" data-graphing-color="">Iran</a>


            </div>
            <table style="width:100%">
                    <tr>
                      <th>Total Cases</th>
                      <th>Recovered</th>
                      <th>Deaths</th>
                    </tr>
                    <tr>
                      <td>Fill in Number</td>
                      <td>Fill in Number</td>
                      <td>Fill in Number</td>
                    </tr>
                  </table>
        </div>
    </div>
</section>
      </div>

        <!-- Script for USA chart -->
        <script>
                var ctx = document.getElementById('myChart').getContext('2d');
                var myChart;
                
            $.get("/api/country/usa/graph", function (countrydata) {
                    var USA_graph_labels = []
                    var USA_graph_data = []
                    json_graph_data = JSON.parse(countrydata);
                    
                    for (index in json_graph_data) {
                        USA_graph_labels.push(json_graph_data[index].day_count);
                        USA_graph_data.push(json_graph_data[index].total_confirmed);
                    }
            
                    myChart = new Chart(ctx, {
                        type: 'bar',
                        data: {
                            labels: USA_graph_labels,
                            datasets: [{
                                label: 'USA',
                                backgroundColor: "#ffb74d",
                                data: USA_graph_data,
                                borderWidth: 1
                            }]
                        },
                        options: {
                            scales: {
                                yAxes: [{
                                    display: true,
                                    scaleLabel: {
                                        display: true,
                                        labelString: 'Confirmed Cases'},
                                    ticks: {
                                        beginAtZero: true
                                    }
                                }],
                                xAxes: [{
                                    display: true,
                                    scaleLabel: {
                                        display: true,
                                        labelString: 'Days Since 50 Confirmed Cases'},
                                    ticks: {
                                        beginAtZero: true
                                    }
                                }]
                            }
                        }
                    });
                    
            
                $(".collection-item").click(function() {
                    var country_string = $(this).attr("data-country");
                    var graph_color = $(this).attr("data-graphing-color");


                    $.get("/api/country/graph/" + country_string, function (countrydata) {
                        var graph_labels = []
                        var graph_data = []
                        json_graph_data = JSON.parse(countrydata);
                        
                        for (index in json_graph_data) {
                            graph_labels.push(json_graph_data[index].day_count);
                            graph_data.push(json_graph_data[index].total_confirmed);
                        }
                        var newDataset = {
                            label: country_string,
                            backgroundColor: graph_color,
                            data: graph_data
                        }

                        if (myChart.data.datasets[1] == undefined) {
                            myChart.data.datasets.push(newDataset);
                        }
                        else {
                            myChart.data.datasets.pop();
                            myChart.data.datasets.push(newDataset);
                        }
                        
                        myChart.update()
                    });

                });
                });
            
            
        </script>
    </div>
   </body>
   <!-- Script for the USA counts and USA map -->
   <script>
      $.get( "/api/country/aggregate/cases/usa", function( data ) {
            $("#usa-total-cases").html(data);
        });
      
        $.get( "/api/country/aggregate/deaths/usa", function( data ) {
            $("#usa-total-deaths").html(data);
        });

        $.get( "/api/country/aggregate/cases/world", function( data ) {
            $("#world-total-cases").html(data);
        });
        
        $.get( "/api/country/aggregate/deaths/world", function( data ) {
            $("#world-total-deaths").html(data);
          });

        $.get( "/api/country/usa/mapdata", function( data ) {
            var coordinates = []
            json_data = JSON.parse(data);
            
            for (index in json_data) {
                map_entry = {
                    "confirmed": json_data[index].confirmed,
                    "latitude": json_data[index].latitude,
                    "longitude": json_data[index].longitude,
                };

                coordinates.push(map_entry);
            }

            var mymap = L.map('mapid').setView([39.8283, -98.5795], 4);
    
            L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw', {
            maxZoom: 18,
            attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, ' +
                '<a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
                'Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
            id: 'mapbox/streets-v11',
            tileSize: 512,
            zoomOffset: -1
            }).addTo(mymap);
            
            console.log(coordinates)
            for (map_entry in coordinates) {
                var circle = new L.circle([coordinates[map_entry]["latitude"], coordinates[map_entry]["longitude"]], {
                    color: 'red',
                    fillColor: '#f03',
                    fillOpacity: 0.5,
                    radius: 250
                    }).addTo(mymap);
            }
            })
      


   </script>
   </body>
</html>