<!DOCTYPE html>
<html>
   <head>
      <meta charset="utf-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <title>COVID-19</title>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" type="text/css" media="screen" href="static/css/main.css" />
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
      <script src="static/js/main.js"></script>
      <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
      <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
         integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
         crossorigin=""/>
      <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
         integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
         crossorigin=""></script>
      <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
   </head>

   <body>
      <nav>
         <div class="nav-wrapper blue-grey darken-1">
            <a href="#" class="brand-logo logo">Covid-19 Tracker</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
            </ul>
         </div>
      </nav>

      <div class="content">
        <h1 class="center">United States Overview</h1>
        <!-- USA Map with case/death counts for United States -->
        <div class="row">
            <div class="col s9 push-s3 map-container">
                <div id="mapid">
                </div>
            </div>

            <div class="col s3 pull-s9">
                <div class="card blue-grey darken-1">
                        <div class="card-content white-text">
                        <span class="card-title flow-text">Total Cases</span>
                        <div id="usa-total-cases"></div>
                        </div>
                </div>
            </div>

            <div class="col s3 pull-s9">
                <div class="card blue-grey darken-1">
                        <div class="card-content white-text">
                        <span class="card-title flow-text">Total Deaths</span>
                        <div id="usa-total-deaths"></div>
                        </div>
                </div>
            </div>

        </div>

        <!-- USA Comparison Charts with Italy -->
        <div class="row">
            <div class="col s12">
                <h3 class="center">How does the United States compare to other countries?</h3>
            </div>
            <div class="col s6">
                <h3 class="center">USA</h3>
                <canvas id="myChart" width="400" height="400"></canvas>
            </div>
            <div class="col s6">
                <div class="collection">
                    <a href="#!" class="collection-item" data-country="Italy" data-active="false" data-graphing-color="#90caf9">Italy</a>
                    <a href="#!" class="collection-item" data-country="South Korea" data-active="false" data-graphing-color="#80cbc4">South Korea</a>
                    <a href="#!" class="collection-item" data-country="Japan" data-active="false" data-graphing-color="">Japan</a>
                    <a href="#!" class="collection-item" data-country="Thailand" data-active="false" data-graphing-color="">Thailand</a>
                    <a href="#!" class="collection-item" data-country="South Korea" data-active="false" data-graphing-color="">South Korea</a>
                    <a href="#!" class="collection-item" data-country="Singapore" data-active="false" data-graphing-color="">Singapore</a>
                    <a href="#!" class="collection-item" data-country="Philippines" data-active="false" data-graphing-color="">Philippines</a>
                    <a href="#!" class="collection-item" data-country="Malaysia" data-active="false" data-graphing-color="">Malaysia</a>
                    <a href="#!" class="collection-item" data-country="Vietnam" data-active="false" data-graphing-color="">Vietnam</a>
                    <a href="#!" class="collection-item" data-country="Australia" data-active="false" data-graphing-color="">Australia</a>
                    <a href="#!" class="collection-item" data-country="Mexico" data-active="false" data-graphing-color="">Mexico</a>
                    <a href="#!" class="collection-item" data-country="Brazil" data-active="false" data-graphing-color="">Brazil</a>
                    <a href="#!" class="collection-item" data-country="Colombia" data-active="false" data-graphing-color="">Colombia</a>
                    <a href="#!" class="collection-item" data-country="France" data-active="false" data-graphing-color="">France</a>
                    <a href="#!" class="collection-item" data-country="Nepal" data-active="false" data-graphing-color="">Nepal</a>
                    <a href="#!" class="collection-item" data-country="Canada" data-active="false" data-graphing-color="">Canada</a>
                    <a href="#!" class="collection-item" data-country="Cambodia" data-active="false" data-graphing-color="">Cambodia</a>
                    <a href="#!" class="collection-item" data-country="Sri Lanka" data-active="false" data-graphing-color="">Sri Lanka</a>
                    <a href="#!" class="collection-item" data-country="Ivory Coast" data-active="false" data-graphing-color="">Ivory Coast</a>
                    <a href="#!" class="collection-item" data-country="Germany" data-active="false" data-graphing-color="">Germany</a>
                    <a href="#!" class="collection-item" data-country="Finland" data-active="false" data-graphing-color="">Finland</a>
                    <a href="#!" class="collection-item" data-country="United Arab Emirates" data-active="false" data-graphing-color="">United Arab Emirates</a>
                    <a href="#!" class="collection-item" data-country="India" data-active="false" data-graphing-color="">India</a>
                    <a href="#!" class="collection-item" data-country="Italy" data-active="false" data-graphing-color="">Italy</a>
                    <a href="#!" class="collection-item" data-country="United Kingdom" data-active="false" data-graphing-color="">United Kingdom</a>
                    <a href="#!" class="collection-item" data-country="Russia" data-active="false" data-graphing-color="">Russia</a>
                </div>
            </div>
        </div>

        <!-- Script for USA chart -->
        <script>
                var ctx = document.getElementById('myChart').getContext('2d');
                var myChart;
                
            $.get("/api/country/usa/graph", function (countrydata) {
                    var graph_labels = []
                    var graph_data = []
                    json_graph_data = JSON.parse(countrydata);
                    
                    for (index in json_graph_data) {
                        graph_labels.push(json_graph_data[index].day_count);
                        graph_data.push(json_graph_data[index].total_confirmed);
                    }
            
                    myChart = new Chart(ctx, {
                        type: 'bar',
                        data: {
                            labels: graph_labels,
                            datasets: [{
                                label: 'Number of cases over time',
                                backgroundColor: "#ffb74d",
                                data: graph_data,
                                borderWidth: 1
                            }]
                        },
                        options: {
                            scales: {
                                yAxes: [{
                                    ticks: {
                                        beginAtZero: true
                                    }
                                }]
                            }
                        }
                    });
                    
            
                $(".collection-item").click(function() {
                    var country_string = $(this).attr("data-country");
                    var graph_color = $(this).attr("data-graphing-color");
                    $.get("/api/country/graph/" + country_string, function (countrydata) {
                        var graph_labels = []
                        var graph_data = []
                        json_graph_data = JSON.parse(countrydata);
                        
                        for (index in json_graph_data) {
                            graph_labels.push(json_graph_data[index].day_count);
                            graph_data.push(json_graph_data[index].total_confirmed);
                        }
                        var newDataset = {
                            label: country_string,
                            backgroundColor: graph_color,
                            data: graph_data
                        }

                        myChart.data.datasets.push(newDataset);
                        myChart.update()
                    });

                });
                });
            
            
        </script>
    </div>
   </body>
   <!-- Script for the USA counts and USA map -->
   <script>
      $.get( "/api/country/aggregate/cases/usa", function( data ) {
          $("#usa-total-cases").html(data);
        });
      
        $.get( "/api/country/aggregate/deaths/usa", function( data ) {
          $("#usa-total-deaths").html(data);
        });

        $.get( "/api/country/usa/mapdata", function( data ) {
            var coordinates = []
            json_data = JSON.parse(data);
            
            for (index in json_data) {
                map_entry = {
                    "confirmed": json_data[index].confirmed,
                    "latitude": json_data[index].latitude,
                    "longitude": json_data[index].longitude,
                };

                coordinates.push(map_entry);
            }

            var mymap = L.map('mapid').setView([39.8283, -98.5795], 4);
    
            L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw', {
            maxZoom: 18,
            attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, ' +
                '<a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
                'Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
            id: 'mapbox/streets-v11',
            tileSize: 512,
            zoomOffset: -1
            }).addTo(mymap);
            
            console.log(coordinates)
            for (map_entry in coordinates) {
                var circle = new L.circle([coordinates[map_entry]["latitude"], coordinates[map_entry]["longitude"]], {
                    color: 'red',
                    fillColor: '#f03',
                    fillOpacity: 0.5,
                    radius: 500
                    }).addTo(mymap);
            }
            })
      


   </script>
   </body>
</html>